{{!-- Include individual HTML information for #each workout added --}}
{{!-- {{#each category.workouts as |workout|}}
    {{> workout-details}}
    {{/each}} --}}

<section class="card">
  <a href="/workout/{{id}}">
    <header>{{title}}</header>
    <div class="card-body">
      <p>Description: {{description}}</p>
    </div>
  </a>
</section>