 <section class="homepage"> <br>
        <h3 class="homepageText">Welcome to The Fitness Zone!</h3>
        <section>
            <p>We have a ton of awesome features which will help you on your fitness journey! We hope to hear many success stories from our users and we cant wait to be a part of your journey
                <br>
                <img src="/images/fitness.jpg" alt="Fitness Image">
        </section>
    </section>
    