 <section class="homepage"> <br>
        <h3>Welcome to our Workout App!</h3>
        <section class="homepageText">
            <p>Please look around and try out all of our cool features! We hope to hear 
        </section>
    </section>