.exercise {
    text-align: center;
}

.modal-card{
    overflow: auto;
  }

.counter {
    display: none;
}

.exerciseSelections {
    display: flex;
    flex-direction: column;
}

.searchResultSection {
    display: none;
   
}

.moreInfo {
    display: none;
}

.moreBtn{
    margin-bottom: 15px;
}
.setupSection {
    display: none;
    align-items: center;
}
.savedExercisesContainer {
    display: none;
    padding: 15px;
    margin-top: 10px;
}

.savedSection {
    display: none;
}

.sessionModel {
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.openExerciseLog th{
    padding: 5px;
}

.openExerciseLog td{
    padding: 2px;
}
#intensityCriterias {
    display: flex;
    justify-content: center;
}